@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* primaru colors */
  --Green-500: hsl(171, 66%, 44%);
  --Green-700: hsl(171, 69%, 34%);
  --Blue-100: hsl(233, 100%, 69%);
  --Blue-300: hsl(233, 55%, 55%);

  /* neutral colors */
  --Gray-700: hsl(210, 10%, 33%);
  --Gray-500: hsl(201, 11%, 66%);

  /* background images */
  --Bg-desktop: url("../images/bg-header-desktop.png");

  /* Variables for elements */
  --Hero-title-color: var(--Gray-700);
  --Hero-subtext-color: var(--Gray-500);
  --Primary-cta-bg: var(--Green-500);
  --Secondary-cta-bg: var(--Blue-100);
  --Primary-cta-shadow: var(--Green-700);
  --Secondary-cta-shadow: var(--Blue-300);
  --Cta-hover-bg: var(--Gray-700);
  --Primary-cta-hover-color: var(--Green-500);
  --Secondary-cta-hover-color: var(--Blue-100);

  --Heading-color: var(--Gray-700);
  --Subtext-color: var(--Gray-500);

  --Footer-links-color: var(--Gray-500);
  --Footer-active-link-color: var(--Green-500);
}

body,
html {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

.hero {
  background-image: var(--Bg-desktop);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding-inline: 30px;
}

.hero-title {
  font-size: clamp(2rem, -3.8182rem + 12.1212vw, 3rem);
  color: var(--Hero-title-color);
}

.hero-subtext {
  width: 90%;
  margin: 5px auto;
  color: var(--Hero-subtext-color);
  line-height: 2;
}

.hero-cta {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  justify-content: center;
}

.cta {
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  font-size: 1.125rem;
  color: white;
  cursor: pointer;
  /* opacity: 0; */
  transition: all 0.3s cubic-bezier(0.52, 0.22, 0.48, 0.73);
}

.primary-cta {
  background-color: var(--Primary-cta-bg);
  filter: drop-shadow(0 3px 0 var(--Primary-cta-shadow));
}

.secondary-cta {
  background-color: var(--Secondary-cta-bg);
  filter: drop-shadow(0 3px 0 var(--Secondary-cta-shadow));
}

.primary-cta:hover,
.secondary-cta:hover {
  background-color: var(--Cta-hover-bg);
  scale: 0.95;
}

.primary-cta:hover {
  color: var(--Primary-cta-hover-color);
}

.secondary-cta:hover {
  color: var(--Secondary-cta-hover-color);
}
.a {
  height: 100px;
}

.other-sections {
  padding: 30px;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

.section.two,
.section.three,
.section.four {
  margin-block: 100px;
}

.sections-heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-heading {
  font-size: 2rem;
  color: var(--Heading-color);
}

.section-subtext {
  line-height: 1.5;
  color: var(--Subtext-color);
  max-width: 850px;
  margin-top: 20px;
}

.section-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 150px;
  margin-top: 100px;
  align-items: center;
}

.section-content .img1 {
  width: 110%;
  position: relative;
  top: 0;
  left: -10%;
}

.section-content.two {
  display: flex;
  justify-content: center;
}

.section-content.three {
  display: flex;
  justify-content: center;
}

.section-content.two .img2 {
  object-fit: cover;
}

.section-text-content > ul {
  list-style: none;
  max-width: 450px;
}
.section-text-content > ul > li {
  margin-bottom: 50px;
}

.section-text-content > ul > li .section-list-heading,
.section-card-heading {
  color: var(--Heading-color);
  font-size: 1.5rem;
}

.section-text-content > ul > li .section-list-subtext,
.section-card-subtext {
  color: var(--Subtext-color);
}
.section-text-content > ul > li .section-list-subtext {
  margin-top: 10px;
  line-height: 2;
}

.section-card-subtext {
  text-align: center;
}

/*  cards styles */
.section-cards {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}
.section-card {
  flex-shrink: 1;
  width: 400px;
  display: grid;
  grid-template-rows: auto 1fr 70px;
  justify-items: center;
  gap: 20px;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}
.section-card .card-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* brand logo styles */

.section-brand {
  margin: auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.section-brand .brand-icon {
  width: 150px;
  object-fit: contain;
  will-change: transform;
  transform: translateZ(0);
}

.section.five {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  text-align: center;
  min-height: 80vh;
}

footer {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .logo-links {
  display: flex;
  gap: 100px;
  align-items: center;
}

footer .logo-links img {
  width: 80px;
  height: 80px;
}

footer .logo-links ul {
  max-width: 480px;
  list-style: none;
  display: grid;
  column-gap: 50px;
  row-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
footer ul li a {
  color: var(--Footer-links-color);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

footer ul li a:hover,
footer ul li a:active {
  color: var(--Footer-active-link-color);
}

footer .social-links {
  display: flex;
  gap: 20px;
}

footer .social-links img {
  transition: all 0.3s ease-in-out;
}

footer .social-links img:hover {
  filter: drop-shadow(0 0 10px var(--Green-500));
}

@media (max-width: 1400px) {
  .section-card {
    width: 350px;
  }
}

@media (max-width: 1000px) {
  .section-content {
    gap: 20px;
  }
 
  .section-content .img1 {
    width: 450px;
    left: -30%;
  }
  .section-content.two .img2 {
    width: 100%;
    object-fit: cover;
  }
  .section-card {
    width: 300px;
  }
  .section-brand .brand-icon {
    width: 100px;
  }
  footer .logo-links {
    gap: 60px;
  }
  footer .logo-links ul {
    column-gap: 30px;
    row-gap: 30px;
  }
  .section-card {
  grid-template-rows: auto 1fr 100px;
  justify-items: center;
  gap: 20px;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}
}
@media (max-width: 768px) {
  .hero {
    padding-inline: 20px;
  }

  .hero .hero-content .hero-title {
    font-size: clamp(1.75rem, 1.2836rem + 1.4925vw, 2rem);
    line-height: 1;
  }
  .hero-cta {
    flex-direction: column;
  }
  .section-content {
    padding-inline: 20px;
    min-width: none;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    text-align: center;
    align-items: center;
    margin: 50px auto;
  }
   .section-content.one ul{
    padding-block: 40px;
  }
  .section-content .img1 {
    min-width: none;
    left: 0%;
    width: 100%;
  }
  .section-text-content > ul {
    list-style: none;
    max-width: none;

    width: 100%;
  }
  .section-text-content > ul > li {
    width: 100%;
  }
  .section-card {
    width: 280px;
  }

  .section-brand {
    flex-direction: column;
    align-items: center;
  }

  .section-brand .brand-icon {
    width: 100%;
    max-width: 150px;
    object-fit: contain;
  }

  footer {
    flex-direction: column;
    gap: 30px;
  }
  footer .logo-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  footer .logo-links ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
